{% extends 'layoutHome.html.twig' %}

{% block body %}
    <div class="user-form-area">
        <div class="container-fluid p-0">
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 p-0">
                    <div class="user-content">
                        <div class="top">
                            <h2>Register</h2>
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="candidat" class="btn form-control col-6">Je suis candidat
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button type="button" id="recruteur" class="form-control col-6">Je suis recruteur
                                    </button>
                                </div>
                            </div>
                            <span class="candidat">
                                {{ form(formCandidat) }}
                                </span>
                            <span class="recruteur">
                                {{ form(formRecruteur) }}
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="user-content">
                        <div class="top">
                            <h2>Register</h2>
                            <form method="post" action="{{ path('loginCheck') }}">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="_username" value="{{ last_username }}"
                                           placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="_password" placeholder="Email">
                                </div>
                                <button type="submit" class="btn">Login</button>
                            </form>
                            {% if erreurs %}
                                <div class="error_login" id="error_login">
                                    <div class="alert alert-danger mt-4" role="alert">
                                        {{ erreurs.messageKey | trans(erreurs.messagedata, 'security') }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $('.recruteur').addClass('d-none')
        let current = 'candidat'

        $('#candidat').on('click', function () {
            if (current != 'candidat') {
                $(this).addClass('btn')
                $('#' + current).removeClass('btn')
                current = 'candidat'
                $('.candidat').removeClass('d-none')
                $('.recruteur').addClass('d-none')
            }
        })

        $('#recruteur').on('click', function () {
            if (current != 'recruteur') {
                $(this).addClass('btn')
                $('#' + current).removeClass('btn')
                current = 'recruteur'
                $('.recruteur').removeClass('d-none')
                $('.candidat').addClass('d-none')
            }
        })
    </script>
{% endblock js %}